  @charset "UTF-8";


        .sidebar-open .sidebar {
            left: 0;
        }

        .sidebar-open .content {
            margin-left: 270px;
        }
        
.sidebar {
	width: 250px;
    height: 100vh;
    background-color: rgba(230, 215, 203, 0.85);
    color: white;
    position: fixed;
    left: -250px;
    padding-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 0px 8px;
    z-index: 900;
    transition: left 0.3s;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color:#5a4638;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color:rgba(90, 70, 56, 0.25);
}

/* Lighter green  #88c099;*/

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
    color: #5a4638; 
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toggle-btn:hover{
	background-color:rgba(90, 70, 56, 0.3);
	color:white;
}


/* Dashboard Link Specific Effect */
.sidebar a.dashboard-link {
    background-color:rgba(90, 70, 56, 0.1);
    padding: 15px; /* Add padding */
}

.sidebar a.dashboard-link:hover {
    background-color: #ffb703; /* Golden yellow */
    color: white;
}

.sidebar a.dashboard-link i {
    margin-right: 10px; /* Space between icon and text */
    font-size: 20px; /* Increase icon size */
}